button:hover{
    color:white;
    background-color: rgb(241, 210, 151);
}

.button{
    background-color: #FFC107;
    border-radius: 7px;
    border: 2px solid;
    width:150px;
    height: 40px;
    color:white;
    border-color:#FFC107;
    font-family: 'Open Sans Condensed', sans-serif;
}

.h1{
    font-family: 'Manrope', sans-serif;
    font-size: 200px;
}

.div{
    text-align: right;
}